.jumbotron {
  padding: 6rem;
  background-color: #e2edff;
}

#menu {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.max-height {
  max-height: 300px;
}

.card {
  transition: 0.5s;
}

.card:hover {
  scale: 1.1;
  box-shadow: 5px 10px #888888;
}